<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main page</title>
  </head>
  <body>
    <h2>Sent name</h2>
    <form method="post" action="/">
      <input name="name" placeholder="Enter your email" />
      <button type="submit">Sent name</button>
    </form>
    <div>
      <a href="/about">Go to About page</a>
    </div>
    <div>
      <a href="/contact">Go to Contact page</a>
    </div>

    <div>
      <a href="/api/admin">Admin information</a>
    </div>
  </body>
</html>
